<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/tabs']">
    <img src="assets/Retail_Square.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Retail Survey
        </ion-card-title>
      <p>
       NPX SURVEY 1
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/tabs']">
    <img src="assets/Manufacturing_Square.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Manufacter Survey
        </ion-card-title>
      <p>
       NPX SURVEY 2
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/tabs']">
    <img src="assets/Business_Square.jpg" />
    <ion-card-content>
      <ion-card-title>
        Business Survey
        </ion-card-title>
      <p>
        NPX SURVEY 3
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/tabs']">
    <img src="assets/Technology_Square.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Technology Survey
        </ion-card-title>
      <p>
        NPX Survey 4
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/tabs']">
    <img src=""/>
    <ion-card-content>
      <ion-card-title>
        Add New Survey
        </ion-card-title>
      <p>
        <button ion-button>+</button>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
