svg {
    height: inherit;
    width: 100%;
    fill: currentColor;
}

:host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    position: relative;
}

.content {
    position: absolute;
}